/* @import stylep-card; */
@import '../index.css';

.card-block {
  @extend %card-block;
}

.card-inline {
  @extend %card-inline;
}

.card--solid {
  @mixin card-solid;
}

.card--hollow {
  @mixin card-hollow;
}

.card {
  &__full { padding: 1em; }
  &__half { padding: calc(1em / 2); }
  &__quarter { padding: calc(1em / 4); }
  &__double { padding: calc(1em * 2); }
  &__treble { padding: calc(1em * 3); }
  &__quadruple { padding: calc(1em * 4); }
}

.card-solid--fancy {
  @extend %card-block;
  @mixin card-solid #444, #fff, 2px, 0 2px 2px rgba(0, 0, 0, .4);
}

.card-hollow--fancy {
  @extend %card-block;
  @mixin card-hollow #888, #222, rgba(0, 0, 0, .08), 4px, 3px, 0 3px 5px rgba(0, 0, 0, .4);
}
