/* @import stylep-card; */
@import '../index.css';

body {
  background-color: #E8EBEF;
  color: #6B6B77;
  font-family: 'Helvetica Neue';
  overflow-x: hidden;
}

section {
  background-color: #fff;
  padding: 1em 1em .125em;
  margin-bottom: 1em;
}

h1 { font-weight: 100; letter-spacing: 1px; }
h2 { font-weight: 200; }
h3 { font-weight: 300; }

.card-block { @extend %card-block; }
.card-inline { @extend %card-inline; }
.card--solid { @mixin card-solid; }
.card--hollow { @mixin card-hollow; }

.card {
  &__full { padding: 1em; }
  &__half { padding: calc(1em / 2); }
  &__quarter { padding: calc(1em / 4); }
  &__double { padding: calc(1em * 2); }
  &__treble { padding: calc(1em * 3); }
  &__quadruple { padding: calc(1em * 4); }
}

.card-solid--fancy {
  @extend %card-block;
  @mixin card-solid #444, #fff, 0 1px 4px #999;
}

.card-hollow--fancy {
  @extend %card-block;
  @mixin card-hollow #888, 4px, dashed;
}

