/* @import stylep-card; */
@import '../index.css';

body {
  background-color: #E8EBEF;
  color: #6B6B77;
  font-family: 'Helvetica Neue';
  overflow-x: hidden;
}

section {
  background-color: #fff;
  padding: 1em 1em .125em;
  margin-bottom: 1em;
}

h1 { font-weight: 100; letter-spacing: 1px; }
h2 { font-weight: 200; }
h3 { font-weight: 300; }

.card-block { @extend %card-block; }
.card-inline { @extend %card-inline; }
.card--solid { @extend %card-solid; }
.card--hollow { @extend %card-hollow; }

.card {
  &__full { padding: 1em; }
  &__half { padding: calc(1em / 2); }
  &__quarter { padding: calc(1em / 4); }
  &__double { padding: calc(1em * 2); }
  &__treble { padding: calc(1em * 3); }
  &__quadruple { padding: calc(1em * 4); }
}

.card-solid--fancy {
  @extend %card-block;
  @extend %card-solid;
  --card-color: #444;
  --card-text-color: #fff;
  --card-radius: 2px;
  --card-shadow: 0 2px 2px rgba(0, 0, 0, .4);
}

.card-hollow--fancy {
  @extend %card-block;
  @extend %card-hollow;
  --card-color: #888;
  --card-text-color: #222;
  --card-border-width: 4px;
  --card-radius: 3px;
  --card-shadow: 0 3px 5px rgba(0, 0, 0, .4);
}

