@define-mixin card-block
  $card-margin: 0 0 1em {
  margin: $card-margin;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

@define-mixin card-inline
  $card-margin: 0 0 1em,
  $card-min-width: 100px {
  @mixin card-block $card-margin;
  display: inline-block;
  max-width: 100%;
  min-width: $card-min-width;
}

@define-mixin card-solid
  $card-color: #f7f7f7,
  $card-text-color: #444,
  $card-shadow: 0 2px 2px rgba(0, 0, 0, .4) {
  background-color: $card-color;
  box-shadow: $card-shadow;
  color: $card-text-color;
}

@define-mixin card-hollow
  $card-color: #444,
  $card-border-width: 1px,
  $card-border-style: solid {
  border-color: $card-color;
  border-style: $card-border-style;
  border-width: $card-border-width;
  color: $card-color;
}

